.accordian-single{
    
    width: 100%;
    background-color: gray;
    padding-left: 10px;
}

.file{
    display: flex;
    flex-direction: column;
}

.insertion_container{
    background-color: black;
    display: flex;
    height: 500px;
    padding: 10px;
}
.element_normal{

    width: 70px;
    padding: 8px;
    margin: 0 20px;
    background-color: burlywood;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.insertion_button{
    background-color: blueviolet;
    color: white;
    padding: 8px;
    margin: 5px 10px;
    font-size: 16px;
}

.element_green{


    width: 70px;
    padding: 8px;
    margin: 0 20px;
    background-color: green;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: white;
}